<div class="titulo-home">
    <h4 class="pd-home titulo-home bold">Elaborar Correção</h4>
    <div class="linha-aba mg-bot20"></div>
    <span class="faixa-vermelha mg-top20">
        Veja as respostas já elaboradas <span class="fonte-amarela">para este enunciado</span>
    </span>
</div>

<!-- EDITOR HTML --------------------------------------------------------->
<div id="block">
    <br>
    <h4>Elabore a sua Correção agora e aumente as chances de aprovação!</h4>
    <br>
    <h4>Faça seu <a href="javascript:void(0)" class="text-primary" onclick="login()">login ou cadastre-se</a> no site para começar a sua correção.</h4>
    <br>
    <h3 class="text-success text-center">É gratuito!</h3>
</div>
</div>
