{% extends 'email/_base.html' %}
{% block titulo1 %}<h3>Seu carrinho está te esperando!</h3>{% endblock %}

{% block texto1 %}
    <div style="text-align: center; align-content: center; margin-bottom: 20px">
        <p>OS CURSOS PODEM FICAR INDISPONÍVEIS, NÃO ESPERE MAIS!</p>
        <br/>
        <br/>
        <a href="https://justutor.com.br/checkout/carrinho/">CLIQUE AQUI PARA FINALIZAR SUA COMPRA</a>
    </div>
{% endblock %}

{% block titulo2 %}{% endblock %}

{% block texto2 %}
    <p>Equipe JusTutor</p>
{% endblock %}
