<div class="panel panel-default">
    <table class="table">
        <thead>
        <tr>
            <th>Campo</th>
            <th>Variável</th>
            <th>Campo</th>
            <th>Variável</th>
        </tr>
        <tr>
            <th colspan="8">* DADOS DO ALUNO</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <th scope="row">Nome do Aluno</th>
            <td><code>&#123&#123aluno&#125&#125</code></td>
            <th scope="row">C.P.F</th>
            <td><code>&#123&#123cpf&#125&#125</code></td>
        </tr>
        </tbody>
    </table>
</div>