db.sqlite3
test.py
HTML
justutorial/media
/db_dev.ini
/prod.json
.idea
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Created by .ignore support plugin (hsz.mobi)
/venv/

/apps/website/templates/website_/
apps/aluno/migrations/0001_initial.py
apps/aluno/migrations/0002_auto_20190304_2153.py
apps/autor/migrations/0001_initial.py
apps/autor/migrations/0002_auto_20190920_2301.py
apps/autor/migrations/0003_auto_20190922_0340.py
apps/autor/migrations/0004_questao.py
apps/autor/migrations/0005_auto_20190922_1956.py
apps/autor/migrations/0006_questaoescolha.py
apps/autor/migrations/0007_auto_20190926_1920.py
apps/autor/migrations/0008_auto_20190926_2206.py
apps/autor/migrations/0009_auto_20190926_2206.py
apps/autor/migrations/0010_auto_20191007_2323.py
apps/autor/migrations/0011_auto_20191010_2225.py
apps/autor/migrations/0012_auto_20191010_2227.py
apps/autor/migrations/0013_auto_20191010_2324.py
apps/autor/migrations/0014_auto_20191011_0120.py
apps/autor/migrations/0015_auto_20191011_0122.py
apps/autor/migrations/0016_auto_20191011_0148.py
apps/autor/migrations/0017_auto_20191011_0153.py
apps/autor/migrations/0018_auto_20191012_2009.py
apps/autor/migrations/0019_auto_20191012_2012.py
apps/autor/migrations/0020_auto_20191012_2107.py
apps/autor/migrations/0021_auto_20191012_2144.py
apps/autor/migrations/0022_auto_20191012_2223.py
apps/autor/migrations/0023_auto_20191012_2224.py
apps/autor/migrations/0024_auto_20191012_2225.py
apps/autor/migrations/0025_auto_20191015_0127.py
apps/autor/migrations/0026_auto_20191015_0152.py
apps/autor/migrations/0027_auto_20191016_0053.py
apps/autor/migrations/0028_auto_20191016_0111.py
apps/autor/migrations/0029_auto_20191016_0226.py
apps/autor/migrations/0030_auto_20191016_1627.py
apps/autor/migrations/0031_auto_20191019_0401.py
apps/autor/migrations/0032_auto_20191019_0451.py
apps/autor/migrations/0033_auto_20191019_2331.py
apps/autor/migrations/0034_auto_20191022_1845.py
apps/autor/migrations/0035_auto_20191022_2101.py
apps/autor/migrations/0036_auto_20191023_2215.py
apps/autor/migrations/0037_auto_20191023_2225.py
apps/autor/migrations/0038_auto_20191106_1747.py
apps/autor/migrations/0039_auto_20191106_1955.py
apps/autor/migrations/0040_questionarioaluno_respostaquestionarioaluno.py
apps/autor/migrations/0041_auto_20191107_1312.py
apps/autor/migrations/0042_auto_20191107_1625.py
apps/autor/migrations/0043_questionarioaluno_timer.py
apps/corretor/migrations/0001_initial.py
apps/cupom/migrations/0001_initial.py
apps/cupom/migrations/0002_cupom_produtos.py
apps/curso/ajax_views.py
apps/curso/migrations/0001_initial.py
apps/curso/migrations/0002_auto_20190304_2153.py
apps/curso/migrations/0003_auto_20190310_1756.py
apps/curso/migrations/0004_auto_20190317_2108.py
apps/curso/migrations/0005_auto_20190319_2228.py
apps/curso/migrations/0006_auto_20190920_2139.py
apps/curso/migrations/0007_auto_20191007_2323.py
apps/curso/migrations/0008_auto_20191007_2327.py
apps/curso/migrations/0009_auto_20191020_0021.py
apps/curso/migrations/0010_auto_20191020_0030.py
apps/curso/migrations/0011_auto_20191020_0030.py
apps/enunciado/migrations/0001_initial.py
apps/formulario_correcao/migrations/0001_initial.py
apps/formulario_correcao/migrations/0002_auto_20190920_2139.py
apps/pagseguro/migrations/0001_initial.py
apps/pagseguro/migrations/0002_auto_20190920_2139.py
apps/pregao/migrations/0001_initial.py
apps/professor/migrations/0001_initial.py
apps/quizz/migrations/0001_initial.py
apps/website/debug
apps/website/migrations/0001_initial.py
apps/website/migrations/0002_auto_20190310_1756.py
apps/website/migrations/0003_pacotedesconto.py
apps/website/migrations/0004_auto_20190320_0112.py
apps/website/migrations/0005_auto_20190920_2139.py
apps/website/static/website/include/twitter/cache/
apps/website/templates/website/componentes/
apps/website/templatetags/
credentials.json
db.tar.gz
justutor.dump
justutor.sql
justutorial/static/
maps.html
names.csv
pg.load
teste.py
tests/
!/apps/autor/templates/autor/painel-simulado.html
node_modules
