{% load static %}
<link rel="stylesheet" href="{% static 'website/checkout/assets/scripts/ionicons/css/ionicons.min.css' %}">
<link rel="stylesheet" href="{% static 'website/checkout/assets/scripts/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'website/checkout/assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'website/checkout/assets/scripts/icheck/skins/flat/purple.css' %}">
<link rel="stylesheet" href="{% static 'website/checkout/assets/css/custom.css' %}">
<link rel="stylesheet" href="{% static 'website/checkout/assets/css/demo.css' %}">
<link rel="stylesheet" href="{% static 'website/checkout/assets/css/skins/green.css' %}">
<link rel="stylesheet" href="{% static 'checkout/holdon/css/HoldOn.css' %}">
<link rel="stylesheet" href="{% static 'checkout/SVG-Loaders-master/svg-loaders/style.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.5.3/dist/sweetalert2.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
<style>
    .swal2-popup {
        font-size: unset !important;
    }

    .dropdown-menu {
        width: unset;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.71);
    }
</style>

