{% extends 'aluno/formulario_auto_correcao/gabaritos_autocorrecao_formulario.html' %}
{% load static %}
{% block email-detail-subject %}
    <div class="clearfix" id="email-detail-subject">
        <span class="subject" id="id_enunciado"><i class="fa fa-gavel"></i> {{ formulario.enunciado }}</span>
    </div>
    <div>
        {% with formulario.enunciado as enunciado %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box-body clearfix">
                        <ul class="widget-products">
                            <li>
                                <a href="#">
                                    <span class="img bg-info">
                                        <img src="{% static 'assets/img/icon-questao-white.svg' %}" alt="" width="100%">
                                    </span>
                                    <span class="product clearfix">
                                        <span class="name">
                                            {{ enunciado }}
                                        </span>
                                        {% if enunciado.classificacao == 'ST' %}
                                            <span class="price" style="width: 33%">
                                                <i class="fa fa-circle green"></i> {{ enunciado.esfera_especifica.nome }}
                                            </span>
                                            <span class="warranty" style="width: 33%">
                                                <i class="fa fa-circle green"></i> {{ enunciado.concurso }}
                                            </span>
                                            <span class="warranty" style="width: 33%">
                                                <i class="fa fa-circle green"></i> {{ enunciado.tipo_sentenca }}
                                            </span>
                                        {% elif enunciado.classificacao == 'PP' %}
                                            <span class="price" style="width: 33%">
                                                <i class="fa fa-circle green"></i> {{ enunciado.concurso }}
                                            </span>
                                            <span class="warranty" style="width: 33%">
                                                <i class="fa fa-circle green"></i> {{ enunciado.disciplina }}
                                            </span>
                                            <span class="warranty" style="width: 33%">
                                                <i class="fa fa-circle green"></i> {{ enunciado.tipo_peca_pratica }}
                                            </span>
                                        {% else %}
                                            <span class="price" style="width: 33%">
                                                <i class="fa fa-circle green"></i> {{ enunciado.orgao_entidade.nome }}
                                            </span>
                                            <span class="warranty" style="width: 33%">
                                                <i class="fa fa-circle green"></i> {{ enunciado.disciplina }}
                                            </span>
                                            <span class="warranty" style="width: 33%">
                                                <i class="fa fa-circle green"></i> {{ enunciado.num_questao_caderno|stringformat:"03d" }}
                                            </span>
                                        {% endif %}
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="alert alert-block alert-info fade in" id="id_instrucoes">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            <span aria-hidden="true">×</span>
                        </button>
                        <strong>INSTRUÇÕES:</strong>
                        <p style="font-weight: lighter">antes de ler o gabarito e fazer a correção, é fortemente
                            recomendável que
                            você elabore a sua própria resposta à atividade. Só assim você terá um aprendizado mais
                            efetivo.
                            Após elaborar sua própria resposta, leia o que era esperado pelo examinador e marque uma
                            opção em
                            cada um dos itens abaixo. Ao final, você saberá qual foi a sua nota. Relembramos que todas
                            as
                            atividades que compõem o sistema de autocorreção do JusTutor buscam representar uma nota
                            apenas
                            aproximada em relação à que você receberia na prova caso tivesse elaborado essa mesma
                            resposta. Além
                            disso, todas as atividades no JusTutor são avaliadas em 10,00 (dez) pontos, podendo haver
                            diferenciação em relação à nota atribuída pela banca do concurso.</p>
                    </div>
                </div>
            </div>
        {% endwith %}
    </div>
{% endblock %}
{% block email-body %}
    <div class="clearfix" id="email-detail-subject">
        <span class="subject" id="id_consideracoes"><i class="fa fa-exclamation-circle"></i> Considerações iniciais</span>
    </div>
    <div id="email-body">
        {{ formulario.texto|safe }}
    </div>
    <div class="clearfix" id="email-detail-subject">
        <span class="subject" id="id_correcao"><i class="fa fa-edit"></i> Correção</span>
    </div>
    <h6 class="text-warning">* MARQUE UMA OPÇÃO EM CADA UM DOS QUESITOS ABAIXO:</h6>
    <div id="email-body">
        {% include 'aluno/formulario_auto_correcao/widgets/tabelas.html' %}
    </div>
{% endblock %}