{% extends "_base.html" %}
{% load i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/login-form-elements.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/login-form-style.css">
{% endblock %}

{% load i18n %}

{% block section %}
    {% if validlink %}
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form"  action="" method="post">
            {% csrf_token %}
            <h3 class="form-title">{% trans 'Enter new password' %}</h3>
            <h5>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</h5>
            {% if form.errors %}
            <div class="alert alert-danger">
                <button class="close" data-close="alert"></button>
                <span>Corrija os erros abaixo.</span>
            </div>
            {% endif %}
            {% with form.new_password1 as new_password1 %}
                <div class="form-group {% if new_password1.errors %}has-error{% endif %}">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Nova senha</label>
                    <input id="id_new_password1" class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="{% trans 'New password' %}" name="new_password1" {% if new_password1.value %}value="{{ new_password1.value }}"{% endif %}/>
                    {% if new_password1.errors %}<span class="help-block">{{ new_password1.errors|join:", " }}</span>{% endif %}
                </div>
            {% endwith %}
            {% with form.new_password2 as new_password2 %}
                <div class="form-group {% if new_password2.errors %}has-error{% endif %}">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Nova senha</label>
                    <input id="id_new_password2" class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="{% trans 'Confirm password' %}" name="new_password2" {% if new_password2.value %}value="{{ new_password2.value }}"{% endif %}/>
                    {% if new_password2.errors %}<span class="help-block">{{ new_password2.errors|join:", " }}</span>{% endif %}
                </div>
            {% endwith %}
            <div class="form-actions">
                <button type="submit" class="btn btn-success uppercase">{% trans 'Change my password' %}</button>
            </div>
            <a class="pull-right" href="{% url 'website:index' %}">Página inicial</a>
        </form>
        <!-- END LOGIN FORM -->
    {% else %}

    <h1>{% trans 'Password reset unsuccessful' %}</h1>

    <p>O link para a recuperação de senha era inválido, possivelmente porque já foi utilizado. Por favor, solicite uma nova recuperação de senha.</p>

    {% endif %}
{% endblock %}
{% block busca %}{% endblock %}
