{% load thumbnail aluno_tags %}
{% load check_curso_in_checkout from curso %}
<div class="col-sm-4">
    <a href="{{ curso.get_absolute_url }}">
        <div class="curso-x">
            <div class="descricao-curso">
                <h2 class="text-success">{{ curso }}</h2>
                <div>
                    {{ curso.descricao|truncatechars:300 }}
                </div>
            </div>
            {% if curso.ativo == False %}
                <div class="categoria-curso" style="background-color: red">
                    Indisponível
                </div>
            {% else %}
                <div class="categoria-curso">
                    Disponível até {{ curso.timeout|date }}
                </div>
            {% endif %}

            <div class="preco-curso">
                {% if categoria.tipo == 'S' %}
                    <div class="pull-right"><small>Nível:</small> {{ curso.sentenca_avulsa.span_nivel|safe }} </div>
                {% elif categoria.tipo == 'D' %}
                    <div class="pull-right"><small>Tipo:</small> {{ curso.simulado.get_tipo_display }} </div>
                {% else %}
                    <div class="pull-right"><small>Nível:</small> {{ curso.sentenca_oab.span_nivel|safe }} </div>
                {% endif %}
                <div class="preco-geral">
                    {% if curso.valor == 0 %}
                        <div class="preco-maior-x text-success">GRÁTIS</div>
                    {% else %}
                        <div class="preco-menor-x">R$</div>
                        <div class="preco-maior-x text-primary">{{ curso.valor }}</div>
                    {% endif %}
                    <div class="clear"></div>
                </div>
            </div>
            {% if curso.ativo == False %}
                <div class="categoria-curso" style="background-color: red">
                    Inscrições encerradas
                </div>
            {% else %}
                <div class="btn-group btn-group-justified">
                    <a href="{{ curso.get_absolute_url }}" class="btn btn-primary"
                       style="width: {% if request.user.aluno %}50{% else %}100{% endif %}%; border-radius: unset">
                        Saiba mais
                    </a>
                    {% if request.user.aluno %}
                        {% check_curso_in_checkout curso as chk %}
                        {% if chk %}
                            {% if categoria.tipo == 'S' %}
                                <a href="{% url 'aluno:sentencas-avulsas' %}" class="btn btn-success btn-block"
                                   style="width: 50%; border-radius: unset">
                                    Ver sentenças
                                </a>
                            {% elif categoria.tipo == 'D' %}
                                <a href="{% url 'aluno:simuladoinfo' curso.simulado_id %}"
                                   class="btn btn-success btn-block" style="width: 50%; border-radius: unset">
                                    Acessar simulado
                                </a>
                            {% else %}
                                <a href="{% url 'aluno:sentencas-oab' %}" class="btn btn-success btn-block"
                                   style="width: 50%; border-radius: unset">
                                    Ver peças
                                </a>
                            {% endif %}
                        {% else %}
                            {% if curso.valor %}
                                <a class="btn btn-primary btn-block" style="width: 50%; border-radius: unset"
                                   onclick="Dajaxice.apps.curso.add_to_cart(Dajax.process, {'curso_id': {{ curso.id }}});block()"
                                   href="javascript:void(0);">
                                    Comprar
                                </a>
                            {% else %}
                                <form method="post" id="frm-{{ curso.pk }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="curso_id" value="{{ curso.id }}">
                                </form>
                                <a onclick="$('#frm-{{ curso.pk }}').submit()" class="btn btn-success btn-block" style="width: 50%; border-radius: unset">
                                    Acessar
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
            <div class="clear"></div>
        </div>
    </a>
</div>
