/*======================================================

Project: Click To Call - Direct Call From Website HTML Plugin
Author: Black Theme
Released On: 8, Sep 2019
@version: 1.0

========================================================*/

/* Click To Call Main Panel */
.cc-style8{
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.cc-style8 .cc-panel{
  	position: fixed;
  	bottom: 24px;
  	right: 24px;
  	height: 70px;
}

/* Click To Call Floating Button */
.cc-style8 .cc-panel .cc-button{
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 20px;
	right: 20px;
	border: 1px solid #fff;
	border-radius: 50px;
	text-align: center;
	box-shadow: 0 0 10px rgba(12, 12, 12, 0.3);	
	cursor: pointer;
}
.cc-style8 .cc-panel .cc-button:hover{
	box-shadow: 0px 0px 10px rgba(12, 12, 12, 0.5);
}
.cc-style8 .cc-button i{
	margin-top: 13px;
	font-size: 25px;
}

/* Click To Call Panel Grid */
.cc-style8 .cc-panel ul{
	position: absolute;
    display: grid;
	right: -253px;
	top: -275px;
    left: auto;
    height: 100%;
    width: 500px;
    list-style: none;
    text-align: right;
    transform: translateY(-50%);
}
.cc-style8 .cc-panel ul li{
  	display: inline-block;
    padding: 30px;
  	margin-right: 55px;
    margin-top: 0;
}

/* User List Profile */
.cc-style8 .cc-panel .cc-list{
  	display: flex;
    position: absolute;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}
.cc-style8 .cc-list .cc-img-cont{
	position: relative;
}
.cc-style8 .cc-list .cc-user-img{
    display: block;
    margin-top: 1px;
    width: 50px;
    height: 50px;
	border-radius: 20%;
}
.cc-style8 .cc-list:hover .cc-user-img{
    border-radius: 50%;
}
.cc-style8 .cc-list .cc-status-icon{
	position: absolute;
	height: 12px;
    width: 12px;
    bottom: 2px;
    right: 5px;
    border-radius: 50%;
}
.cc-style8 .cc-list .cc-user-info{
	padding-left: 15px;
	padding-right: 25px;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: -20px;
	width: 150px;
	border-radius: 10px;
    text-align: right;
    box-shadow: 0px 0px 10px #ccc;
}
.cc-style8 .cc-user-info strong{
	font-size: 14px;
    font-weight: bold;
}
.cc-style8 .cc-user-info p{
	margin-top: -10px;
	margin-bottom: -1px;
	font-size: 11px;
	line-height: 30px;
}

/* Scal Transition Effect */
.cc-style8 .cc-panel .scale-transition{ 
	transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; 
}
.cc-style8 .cc-panel .scale-transition.scale-out{
  	transform: scale(0);
  	transition: transform 0.2s !important;
}
.cc-style8 .cc-panel .scale-transition.scale-in{ 
	transform: scale(1); 
}

/* Common CSS */
.cc-style8 .cc-panel .cc-list,
.cc-style8 .cc-list .cc-user-img,
.cc-style8 .cc-list:hover .cc-user-img,
.cc-style8 .cc-list .cc-user-info,
.cc-style8 .cc-user-info strong,
.cc-style8 .cc-user-info p{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}