<p style="text-align:justify;"><span style="font-family:Times New Roman, serif;">Olá {{ aluno }},</span></p>
<p style="text-align:justify;"><span style="font-family:Times New Roman, serif;">É com grande satisfação que damos as boas-vindas ao JusTutor! Estamos entusiasmados em tê-lo como um de nossos alunos e esperamos que esta jornada de aprendizado seja enriquecedora, te ajudando a alcançar o sonho da aprovação.&nbsp;</span></p>
<p style="text-align:justify;"><span style="font-family:Times New Roman, serif;">Para garantir que você tenha uma experiência de qualidade, criamos um Manual do Aluno que contém todas as informações necessárias para começar e aproveitar ao máximo seu treinamento e as ferramentas do JusTutor</span></p>
<p style="text-align:justify;"><span style="font-family:Times New Roman, serif;"><strong>Acesso ao Manual do Aluno:</strong> </span><a target="_blank" rel="noopener noreferrer" href="https://justutor.com.br/media/materiais/ManualDoAluno1-2-compressed_rxBTxuS.pdf"><span style="font-family:Times New Roman, serif;">Clique aqui para acessar o Manual do Aluno</span></a><span style="font-family:Times New Roman, serif;">.</span></p>
<p style="text-align:justify;"><span style="font-family:Times New Roman, serif;">No Manual do Aluno, você encontrará:</span></p>
<ol>
    <li>
        <p style="text-align:justify;"><span style="font-family:Times New Roman, serif;"><strong>Instruções de Acesso ao Curso</strong>: Passo a passo para iniciar seu treinamento e os materiais disponíveis;</span></p>
    </li>
    <li>
        <p style="text-align:justify;"><span style="font-family:Times New Roman, serif;"><strong>Recursos de Suporte</strong>: Espaço para trocar mensagens com a equipe.</span></p>
    </li>
    <li>
        <p style="text-align:justify;"><span style="font-family:Times New Roman, serif;"><strong>Calendário de atividades</strong>: Informações sobre datas importantes e cronograma.</span></p>
    </li>
    <li>
        <p style="text-align:justify;"><span style="font-family:Times New Roman, serif;"><strong>Passo a passo para envio da atividade</strong>: Tutorial sobre como acessar a atividade, enviar sua resposta e acessar sua correção.&nbsp;</span></p>
    </li>
</ol>
<p style="text-align:justify;"><span style="font-family:Times New Roman, serif;">Recomendamos que você leia atentamente o manual e nos avise se tiver qualquer dúvida. Estamos aqui para ajudar e garantir que você tenha tudo o que precisa.&nbsp;</span></p>
<p style="text-align:justify;"><span style="font-family:Times New Roman, serif;"><strong>Próximos Passos:</strong></span></p>
<ol>
    <li>
        <p style="text-align:justify;"><span style="font-family:Times New Roman, serif;"><strong>Acesse o Manual do Aluno</strong> pelo link fornecido.</span></p>
    </li>
    <li>
        <p style="text-align:justify;"><span style="font-family:Times New Roman, serif;"><strong>Confira se seu acesso ao treinamento</strong> liberado.</span></p>
    </li>
    <li>
        <p style="text-align:justify;"><span style="font-family:Times New Roman, serif;"><strong>Explore o Conteúdo</strong> do curso e familiarize-se com o material disponível.</span></p>
    </li>
    <li>
        <p style="text-align:justify;"><span style="font-family:Times New Roman, serif;"><strong>Entre em Contato</strong> conosco caso precise de qualquer suporte adicional.</span></p>
    </li>
</ol>
<p style="text-align:justify;"><span style="font-family:Times New Roman, serif;">Mais uma vez, bem-vindo ao JusTutor! Estamos ansiosos para ver seu progresso e sucesso.</span></p>
<p style="text-align:justify;"><span style="font-family:Times New Roman, serif;">Atenciosamente,</span></p>
<p style="text-align:justify;"><span style="font-family:Times New Roman, serif;">Equipe JusTutor</span></p>
<p><br>&nbsp;</p>