{% extends 'email/_base.html' %}

{% block titulo1 %}
    <h2 style="text-align: center">Atenção</h2><br>
    <p> Você postou uma mensagem no fórum <strong>{{ discuss }}</strong>,
        do curso <strong>{{ discuss.curso }}</strong>, e ela recebeu uma resposta.</p>
{% endblock %}
{% block texto1 %}
{% endblock %}

{% block titulo2 %}Acesse a área do curso{% endblock %}
{% block texto2 %}
    <p>
        <a href="{{ dominio }}/aluno/cursos/discussao/{{ discuss.pk }}">Clique aqui</a>
        para acessar o fórum e ler a resposta recebida.
    </p>
{% endblock %}
