{% load thumbnail %}
{% load aluno_tags %}
<div class="col-lg-12">
    <div class="main-box">
        <header class="main-box-header clearfix">
            <h2>Filtro</h2>
        </header>
        <div class="main-box-body clearfix">
            <form class="form-inline" role="form" method="post">
                {% csrf_token %}
                <div class="checkbox checkbox-nice">
                    <input type="checkbox" id="todos_cursos" {% if filtro %}checked="checked"{% endif %}
                           name="todos_cursos">
                    <label for="todos_cursos">
                        Exibir apenas {{ menu }} em andamento
                    </label>
                </div>
                <button style="margin-left: 10px;" type="submit" class="btn btn-success">Filtar</button>
            </form>
        </div>
    </div>

</div>
{% for checkout in checkouts %}
    {% get_checkout_cursos checkout is_tutorial as cursos %}
    {% if cursos %}
        {% if filtro %}
            {% if checkout.get_curso_ativo %}
                {% include 'widget_curso.html' %}
            {% endif %}
        {% else %}
            {% include 'widget_curso.html' %}
        {% endif %}
    {% endif %}
{% endfor %}
