{% load thumbnail comments curso static %}
<style>
    .bgi {
        background: none repeat scroll 0 0 #e84e40;
        border-radius: 50%;
        background-clip: padding-box;
        color: #fff;
        display: block;
        font-size: 10px;
        height: 14px;
        line-height: 14px;
        position: absolute;
        right: 6px;
        text-align: center;
        top: 8px;
        width: 14px;
    }

    .btn-group {
        white-space: nowrap;
    }

    .btn-group .btn {
        float: none;
        display: inline-block;
    }

    .btn + .dropdown-toggle {
        margin-left: -4px;
    }

    .table-responsive {
        overflow-x: visible !important;
        overflow-y: visible !important;
    }
</style>
<div class="main-box-body clearfix">
    <div class="tabs-wrapper">
        {% if submenu.is_tutorial %}
            {% include "tabs/tutoriais.html" %}

        {% else %}
            {% include "tabs/cursos.html" %}
        {% endif %}
    </div>
</div>
<!-- MODAL -->
<div class="modal fade" tabindex="-1" role="dialog" id="chartModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Justutor</h4>
            </div>
            <div class="modal-body">
                <div id="modalBody">
                    <div id="modalHtml"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-close"></i> Fechar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL RECORRER -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalRecorrer">
    <div class="modal-dialog modal-lg" style="width: 90%">
        <div class="modal-content">
            <div class="modal-header">
                <!--button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button-->
                <h4 class="modal-title" id="modalRecorrerTitulo">Justutor</h4>
            </div>
            <div class="modal-body">
                <div id="modalRecorrerBody">
                    <div id="modalRecorrerHtml"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="confirmar_recorrer()"><i class="fa fa-save"></i>
                    Finalizar e enviar recurso
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Fechar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- MODAL -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalTarefa">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <div id="modalBody"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-close"></i>
                    Fechar
                </button>
                <a href="" target="_blank" id="btn-imprimir" class="btn btn-primary"><i class="fa fa-print"></i>
                    Imprimir</a>
                <a href="" id="btn-tarefa" class="btn btn-success"><i class="fa fa-edit"></i> Responder</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- MODAL -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalCorrecao">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Justutor</h4>
            </div>
            <div class="modal-body">
                <div id="modalCorrecaoBody">
                    <div id="modalCorrecaoHtml"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-close"></i> Fechar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<div class="cc-style7">
    <!-- Chat Panel -->
    <div class="cc-panel">
        <!-- Panel Header Content -->
        <div class="cc-header">
            <!-- Profile Picture -->
            <div class="cc-img-cont">
                <img class="cc-user-img" src="" alt=""/>
            </div>
            <!-- Display Name & Last Seen -->
            <div class="cc-user-info">
                <strong></strong>
            </div>
            <a class="cc-button closer" id="cc-close">
                <i class="fa fa-close red" aria-hidden="true" style="display: inline-block;"></i>
            </a>
        </div>
        <!-- Panel Body Content -->
        <div class="cc-body">
            <div class="cc-content">
                <textarea placeholder="Digite sua mensagem..." id="text-message" autofocus></textarea>
                <input type="hidden" id="input-pk">
                <input type="hidden" value="" id="pid">
                <input type="hidden" value="" id="aid">
                <input type="hidden" value="" id="cid">

            </div>
        </div>
        <!-- Panel Footer Content -->
        <div class="cc-footer">
            <!-- Start Single Contact List -->
            <a class="cc-list" id="btnEnviar">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                <p>Enviar</p>
            </a>
        </div>
    </div>

</div>
<!-- Call Layout JS Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<script>
    function verTarefa(atividadeID) {
        console.log('atividadeID', atividadeID);
        $('#modalTarefa').modal('show');

    }

    $('#modalTarefa').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var titulo = button.data('titulo');
        var pk = button.data('pk');
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        modal.find('.modal-title').text(titulo);
        $('#btn-tarefa').prop('href', '/curso/atividade/responder/' + pk);
        $('#btn-imprimir').prop('href', '/curso/atividade/imprimir/' + pk);
        $.getJSON("{% url 'curso:get-tarefa-json' %}?pk=" + pk, function (json) {
            modal.find('#modalBody').html($.parseHTML(json.tarefa));
            $('#modalBody').slimScroll({
                start: 'top',
                height: '400px'
            });
        });
    });
    // CHART MODAL
    $('#chartModal').on('hide.bs.modal', function (event) {
        $('#modalHtml').html('')
    });
    $('#chartModal').on('show.bs.modal', function (event) {
        var pk = $(event.relatedTarget).data('pk');
        var posting = $.post('{% url 'professor:formulario-estatistica' %}', {pk: pk});
        {#$.blockUI({ message: 'aguarde' });#}
        posting.done(function (data) {
            //$.unblockUI();
            if (data.message) {
                toastr.error(data.message, 'Erro');
            }
            ;
            if (!data.html) {
                toastr.error('Não há dados para gerar a estatística.', 'Erro');
                $('#modalHtml').html(
                    '<div class="alert alert-danger">\n' +
                    '<i class="fa fa-times-circle fa-fw fa-lg"></i>\n' +
                    '<strong>Opss!</strong> Não há dados para gerar a estatística.' +
                    '</div>'
                );
            } else {
                $('#modalHtml').html(data.html);
                $('#modalBody').slimScroll({
                    start: 'top',
                    height: '400px'
                });
            }
        });
    });
    // CHART RECORRER
    $('#modalRecorrer').on('hide.bs.modal', function (event) {
        $('#modalRecorrerHtml').html('');
        $('#modalRecorrerTitulo').html('Justutor')
    });
    $('#modalRecorrer').on('show.bs.modal', function (event) {
        var pk = $(event.relatedTarget).data('pk');
        var posting = $.post('{% url 'professor:formulario-recorrer' %}', {pk: pk});

        {#$.blockUI({ message: 'aguarde' });#}
        posting.done(function (data) {
            //$.unblockUI();
            if (data.message) {
                toastr.error(data.message, 'Erro');
            }
            ;
            if (!data.html) {
                toastr.error('Não há dados para gerar a estatística.', 'Erro');
                $('#modalRecorrerHtml').html(
                    '<div class="alert alert-danger">\n' +
                    '<i class="fa fa-times-circle fa-fw fa-lg"></i>\n' +
                    '<strong>Opss!</strong> Não há dados para gerar a estatística.' +
                    '</div>'
                );
            } else {
                $('#modalRecorrerHtml').html(data.html);
                $("#formulario_pk").val(pk);
                $('#modalRecorrerTitulo').html('<strong>Recurso da nota</strong> - Atividade: [ ' + data.atividade_nome + ' ]');
                $('#modalRecorrerBody').slimScroll({
                    start: 'top',
                    height: '400px'
                });
            }
        });
        console.log('**', pk)
    });
    // MODAL CORRECAO
    $('#modalCorrecao').on('show.bs.modal', function (event) {
        var pk = $(event.relatedTarget).data('pk');
        var posting = $.post('{% url 'professor:formulario-estatistica-correcao' %}', {pk: pk});
        {#$.blockUI({ message: 'aguarde' });#}
        posting.done(function (data) {
            //$.unblockUI();
            if (data.message) {
                toastr.error(data.message, 'Erro');
            }
            ;
            if (!data.html) {
                toastr.error('Não há dados para gerar a estatística.', 'Erro');
                $('#modalHtml').html(
                    '<div class="alert alert-danger">\n' +
                    '<i class="fa fa-times-circle fa-fw fa-lg"></i>\n' +
                    '<strong>Opss!</strong> ' + data.message +
                    '</div>'
                );
            } else {
                $('#modalCorrecaoHtml').html(data.html);
                $('#modalCorrecaoBody').slimScroll({
                    start: 'top',
                    height: '400px'
                });
            }
        });
        console.log('**', pk)
    });
    function confirmar_recorrer() {
        status = $('#formulario_status').val();
        if (status == 'corrigido') {
            Swal.fire({
                title: 'Deseja finalizar?',
                html: "Confira se todos os itens em relação aos quais você deseja recorrer estão marcados " +
                    "como recorridos. Depois de clicar em \"Finalizar\", seu recurso será enviado e não será " +
                    "mais possível alterá-lo ou refazê-lo.",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, desejo finalizar!',
                cancelButtonText: 'Cancelar'
            }).then(function (result) {
                if (result.value) {
                    enviar_confirmacao()
                }
            })
        } else {
            Swal.fire('JusTutor', 'O status atual não permite mais alterações.', 'error');
        }
    }

    function enviar_confirmacao() {
        // Send the data using post
        var send = {
            action: 'confirmar',
            pk: $("#formulario_pk").val()
        };
        var posting = $.post('{% url 'professor:post-confirmar-recorrer' %}', send);
        posting.done(function (data) {
            if (data.erro) {
                toastr.error(data.message, 'Atenção');
            } else {
                $('#modalRecorrer').modal('toggle');
                toastr.success(data.message, 'Informação', {timeOut: 0});
            }
        });
    }

    const renderStatistics = (pk) => {
        var posting = $.post('{% url 'professor:formulario-estatistica-geral' %}', {pk: pk});
        {#$.blockUI({ message: 'aguarde' });#}
        posting.done(function (data) {
            //$.unblockUI();
            if (data.message) {
                toastr.error(data.message, 'Erro');
            }
            ;
            if (!data.html) {
                toastr.error('Não há dados para gerar a estatística.', 'Erro');
                $('#divStatistics').html(
                    '<div class="alert alert-danger">\n' +
                    '<i class="fa fa-times-circle fa-fw fa-lg"></i>\n' +
                    '<strong>Opss!</strong> Não há dados para gerar a estatística.' +
                    '</div>'
                );
            } else {
                $('#divStatistics').html(data.html);
            }
        });
    }
    $(document).ready(function () {
        renderStatistics("{{ submenu.pk }}");
    });
</script>