{% extends '_base-painel-aluno.html' %}
{% load  thumbnail aluno_tags %}

{% block panel_content %}
    <div class="main-box clearfix">
        <header class="main-box-header clearfix">
        </header>
        <div class="main-box-body clearfix">
            {% for checkout in checkouts %}
                {% with checkout.get_cursos as cursos %}
                    {% if cursos %}
                        {% include 'widget_curso_certificado.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

