{% load thumbnail %}
<div class="col-sm-6">
    <div class="main-box clearfix">
        <div class="main-box-body clearfix">
            <ul class="widget-products">
                {% for item in cursos %}
                <li>
                    <a href="{% if checkout.transaction.status in 'pago,disponivel' %}{% url 'aluno:cursos' %}?videos={{ item.id }}{% else %}javascript:_toastr('Aguadando liberação do pagamento','top-center','error',false);{% endif %}">
                        <span class="img">
                            {% thumbnail item.curso.imagem "48x68" crop="center" as im %}
                                <img src="{{ im.url }}">
                            {% empty %}
                                <img src="{{ STATIC_URL }}assets/fotos/curso01.jpg">
                            {% endthumbnail %}
                        </span>
                        <span class="product clearfix">
                            <span class="name">
                                {{ item }}
                            </span>
                            <span class="warranty">
                                {% if item.curso.is_video_curso %}
                                    <i class="fa fa-video-camera text-success" style="color: rgb(210,78,78)"></i>
                                {% else %}
                                    <i class="fa fa-file-pdf-o text-primary" style="color: rgb(152,90,63)"></i>
                                {% endif %}
                            </span>
                        </span>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <span class="pull-right text-primary">{{ checkout.date|date:"SHORT_DATE_FORMAT" }}</span>
        </div>
    </div>
</div>