{% extends "_base.html" %}
{% block  section %}
    <section class="interna">
        <div class="container">
            <div class="caminho-do-site mb-bot20">
                <ol class="breadcrumb">
                    <li>
                        <a href="{% url 'website:index' %}">Home</a>
                    </li>
                    <li>
                    {% if is_noticia %}
                        <a href="{% url 'website:noticias-justutor' %}">Notícias</a>
                    {% else %}
                        <a href="#">Notícia</a>
                    {% endif %}
                    </li>
                    <li class="active">{{ conteudo }}</li>
                </ol>
            </div>
        </div><br>
        <div class="container">
            <section id="questoes-destaque" class="col-sm-8">
                <div class="titulo-home  mg-bot20">
                    <h4 class="pd-home titulo-home bold">{{ conteudo }}</h4>
                    <div class="linha-aba"></div>
                    <span><i class="fa fa-clock-o"></i> {{ conteudo.ativo_inicio|date:"d/m/Y - H\hi" }}</span>
                    <br>
                    {{ conteudo.resumo }}
                    <br>
                    {{ conteudo.conteudo|safe }}
                </div>
            </section>
            <section class="col-sm-4">
                {% if is_noticia %}
                <section id="noticias">
                    <div class="titulo-home">
                        <h4 class="pd-home titulo-home bold">As 10 mais</h4>
                        <div class="linha-aba mg-bot10"></div>
                    </div>
                    <div class="clear"></div>
                    {% for noticia in mais_lidas %}
                    <div>
                        <h5 class="mg-top10 bold"><a href="{{ noticia.get_absolute_url }}">{{ noticia.nome }}</a></h5>
                        <div class="mg-top10"></div>
                        <small class="text-info"><i class="fa fa-clock-o pull-left"> {{ noticia.ativo_inicio|date:"d/m/Y - H\hi" }}</i><i class="fa fa-eye pull-right"> {{ noticia.noticialida_set.all.count }}</i></small>
                        <br>
                        <hr class="no-pd">

                    </div>
                    {% endfor %}
                </section>
                {% endif %}
                <div class="titulo-home mg-bot20">
                    <h4 class="pd-home titulo-home bold">Publicidade</h4>
                    <div class="linha-aba"></div>
                    <div class="mg-top20">
                        {% include '_widget-anuncio.html' %}
                    </div>
                </div>
            </section>
        </div>
        <div class="container">
            <!-- SOCIAL CURTIR ----->
            <div class="social-icones mg-top10">
                <hr class="linha-tracejada">
                <div class="pull-left mg-r10">
                    <a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="JusTutor">Tweet</a>
                </div>
                <div class="pull-left">
                    <div class="fb-like"  data-width="" data-layout="button" data-action="like" data-size="small" data-share="true"></div>
                </div>
                <div class="clear"></div>
                <hr class="linha-tracejada">
            </div>

        {% if is_noticia %}
            <nav>
                <ul class="pager">
                    {% with  conteudo.proxima as  proxima %}
                    <li class="previous{% if not proxima %} disabled{% endif %}">
                            {% if proxima %}
                                <a href="{{ proxima.get_absolute_url }}" data-toggle="tooltip" data-original-title="{{ proxima }}"><span aria-hidden="true">&larr;</span> Antigas
                                    </a>
                            {% else %}
                                <a class="disabled" href="#"><span aria-hidden="true">&larr;</span>  Antigas</a>
                            {% endif %}
                    </li>
                    {% endwith %}
                    <li><a href="{% url 'website:noticias-justutor' %}">Todas as Notícias</a></li>
                    {% with  conteudo.anterior as anterior %}
                    <li class="next{% if not anterior %} disabled{% endif %}">
                            {% if anterior %}
                                <a href="{{ anterior.get_absolute_url }}" data-toggle="tooltip" data-original-title="{{ anterior }}">
                                    Recentes <span aria-hidden="true">&rarr;</span></a>
                            {% else %}
                                <a href="#">Recentes <span aria-hidden="true">&rarr;</span></a>
                            {% endif %}
                    </li>
                    {% endwith %}
              </ul>
            </nav>
        {% endif %}
        </div>
    </section>
{% endblock %}
<div id="fb-root"></div>
{% block extra_js %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0&appId=427897524078010&autoLogAppEvents=1"></script>
    <!-- TWITTER --->
    <script>!function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');
    </script>
{% endblock %}