{% extends 'email/_base.html' %}
{% block titulo1 %}Obrigado por fazer parte do JusTutor!{% endblock %}

{% block texto1 %}
    <p>Agora você já pode responder, corrigir e comentar questões discursivas, peças práticas e sentenças,
        além de ficar por dentro de todos os nossos cursos.
    </p>
{% endblock %}

{% block titulo2 %}Nota{% endblock %}

{% block texto2 %}
    <p><a href="http://www.justutor.com.br/institucional/como-elaborar-uma-resposta/">Aprenda a elaborar uma resposta no JusTutor</a></p>
    <p><a href="http://www.justutor.com.br/institucional/como-fazer-uma-correcao/">Aprenda a elaborar uma correção de resposta no JusTutor</a></p>
{% endblock %}
