{% extends 'email/_base.html' %}
{% block titulo1 %}Aprenda com seus colegas!{% endblock %}

{% block texto1 %}
    <p>Você nos pediu e aqui estamos para te informar: <a href="{{ dominio }}{{ aluno.get_absolute_url }}">{{ aluno }}</a> acaba de responder ao
        enunciado <a href="{{ dominio }}{{ resposta.get_absolute_url }}">{{ resposta.enunciado }}</a>.
        Acesse agora mesmo o JusTutor e leia a resposta.
    </p>
{% endblock %}

{% block titulo2 %}{% endblock %}

{% block texto2 %}
    <blockquote><p>Aproveite para fazer uma correção e acumular ainda mais pontos para o seu ranking.</p></blockquote>
    <p><small>Este e-mail foi enviado porque você segue o(a) aluno(a) <a href="{{ dominio }}{{ aluno.get_absolute_url }}">{{ aluno }}</a> que elaborou a resposta.</small></p>
{% endblock %}