{#{% if  questionario_aluno.data_conclusao or encerrado %}#}
    <div class="col-md-12 col-sm-12 col-12 col-lg-12">
        <div class="col-md-2 col-sm-2 col-12">
            <div class="main-box small-graph-box green-bg">
                <span class="value">{{ questionario_aluno.get_respostas_corretas|length }}</span>
                <span class="headline">Acertos</span>
                <div class="progress">
                    <div style="width: {{ questionario_aluno.get_respostas_corretas_perc }}%;" aria-valuemax="100"
                         aria-valuemin="0" aria-valuenow="84" role="progressbar"
                         class="progress-bar">
                        <span class="sr-only">{{ questionario_aluno.get_respostas_corretas_perc }}%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-12 d-sm-none d-md-block">
            <div class="main-box small-graph-box red-bg">
                <span class="value">{{ questionario_aluno.get_respostas_erradas|length }}</span>
                <span class="headline">Erros</span>
                <div class="progress">
                    <div style="width: {{ questionario_aluno.get_respostas_erradas_perc }}%;" aria-valuemax="100"
                         aria-valuemin="0" aria-valuenow="84" role="progressbar"
                         class="progress-bar">
                        <span class="sr-only">{{ questionario_aluno.get_respostas_erradas_perc }}%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-12">
            <div class="main-box small-graph-box gray-bg">
                <span class="value">{{ questionario_aluno.get_respostas_nulas|length }}</span>
                <span class="headline">Em branco</span>
                <div class="progress">
                    <div style="width: {{ questionario_aluno.get_respostas_nulas_perc }}%;" aria-valuemax="100"
                         aria-valuemin="0" aria-valuenow="84" role="progressbar"
                         class="progress-bar">
                        <span class="sr-only">{{ questionario_aluno.get_respostas_nulas_perc }}%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-12">
            <div class="main-box small-graph-box emerald-bg">
                <span class="value">{{ questionario_aluno.pontuacao }}</span>
                <span class="headline">Pontuacao final</span>
                <div class="progress">
                    <div style="width: {{ questionario_aluno.get_respostas_nulas_perc }}%;" aria-valuemax="100"
                         aria-valuemin="0" aria-valuenow="84" role="progressbar"
                         class="progress-bar">
                        <span class="sr-only">{{ questionario_aluno.get_respostas_nulas_perc }}%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-Z col-12">
            <div class="main-box small-graph-box emerald-bg">
                <span class="value">?</span>
                <span class="headline">Classificação atual</span>
                <div class="progress">
                    <div style="width: {{ questionario_aluno.get_respostas_nulas_perc }}%;" aria-valuemax="100"
                         aria-valuemin="0" aria-valuenow="84" role="progressbar"
                         class="progress-bar">
                        <span class="sr-only">{{ questionario_aluno.get_respostas_nulas_perc }}%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#{% endif %}#}
